<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- common -->
    <package id="7zip" />
    <package id="adobereader" />
    <package id="chocolatey" />
    <package id="dropbox" />
    <package id="emule" />
    <package id="fsviewer" />
    <package id="googlechrome" />
    <package id="image-composite-editor" />
    <package id="libreoffice-fresh" />
    <package id="qbittorrent" />
    <package id="shutup10" />
    <package id="svg-explorer-extension" />
    <package id="teamviewer" />
    <package id="telegram" />

    <!-- development -->
    <package id="docker-desktop" />
    <package id="inconsolata" />
    <package id="poshgit" />
    <package id="tortoisegit" />
    <package id="vscode" />

    <!-- command line tools -->
    <package id="exiftool" />
    <package id="ffmpeg" />
    <package id="git" />
    <package id="grep" />
    <package id="nvm" />
    <package id="wget" />

    <!-- images & video editors -->
    <package id="audacity" />
    <package id="gimp" />
    <package id="inkscape" />
    <package id="shotcut" />
    <package id="virtualdub2" />

    <!-- gaming -->
    <package id="discord" />
    <package id="epicgameslauncher" />
    <package id="nvidia-display-driver" />
    <package id="origin" />
    <package id="steam" />
    <package id="uplay" />

    <!-- multimedia -->
    <package id="aimp" />
    <package id="k-litecodecpackmega" />
    <package id="spotify" />

    <!-- productivity -->
    <package id="autohotkey" />
    <package id="bulkrenameutility" />
    <package id="ccleaner" />
    <package id="doublecmd" />
    <package id="freefilesync" />
    <package id="keepass" />
    <package id="keepass-plugin-favicon" />
    <package id="linkshellextension" />
    <package id="nordvpn" />
    <package id="openvpn" />
    <package id="partitionwizard" />
    <package id="pasteintofile" />
    <package id="patchcleaner" /> <!-- Windows Installer directory cleaner -->
    <package id="powertoys" />
    <package id="procexp" /> <!-- Shows handles and DLLs opened or loaded by processes -->
    <package id="rufus" /> <!-- Creates bootable USB flash drives -->
    <package id="sizer" /> <!-- Resizes windows to exact sizes -->
    <package id="treesizefree" />

</packages>